<!--
<div class="container">
	<header>
		<h1>{{message}}</h1>
	</header>
</div>
-->


<div class="menu-right">
    <div id="top">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand menu-link"  href="/app/views/home.html">Accueil</a>
                </div>
                    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" >
                        
                        <li>
                            <a class="navbar-brand menu-link" >Users</a>
                        </li>
                            
                            
                            
                            
                            
                    </ul>
                        
                    <ul class="nav navbar-nav navbar-right">                 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">current.emailUtilisateur <b class="caret"></b></a>
                            
                            <ul class="dropdown-menu">
                                
                                <li><a >Edit Profile</a></li>
                                <li><a >Send Mail</a></li>
                                <li><a href="#">Mes Collaborations</a></li>
                                
                                <li class="divider"></li>
                                <li><a>Aide</a></li>
                                <li> <a>Rapports</a></li>  
                                
                                <li class="divider"></li>
                                <li><a ng-click="logout()">Logout</a></li>
                                    
                            </ul>
                        </li>
                            
                        <li>
                            <img src="\files\avatars/nophoto.png"  class="img-responsive img-circle" width="50" height="50"/>
                        </li>
                            
                    </ul>
                        
                        
                        
                    <div ng-show="isAdmin()">
                        <ul class="nav navbar-nav navbar-right">                 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Gestion Utilisateurs</a></li>
                                    <li><a href="">Gestion des E-mails</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Créer Formation</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                        
                        
                    <ul class="nav navbar-nav navbar-right" role="menu" aria-labelledby="dLabel">                 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion des Formations <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="">List des Formations</a></li>
                                   
                                <li><a href="">Actions Collaborateur</a></li>
                                <li><a href="">Actions Responsable</a></li>
                                <li><a href="">Actions Formateur</a></li>
                            </ul>
                        </li>
                    </ul>
                        
                        
                        
                        
                        
                        
                    <!--                    <nav class="col-sm-2 hidden-xs">
                                            <form class="navbar-form" role="search">
                                                <div class="input-group">
                                                    <input  class="form-control pull-right" style="width: 200px; margin-right: 35px; border: 1px solid black; background-color: #e5e5e5;" placeholder="Search"/>
                                                    <span class="input-group-btn">
                                                        <button type="reset" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-remove">
                                                                <span class="sr-only">Close</span>
                                                            </span>
                                                        </button>
                                                            
                                                        <button  class="btn btn-default" value="Go">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                            
                                                    </span>
                                                </div>
                                            </form>
                                        </nav>
                    -->                        
                                            
            </div>
        </nav>
            
        <div class="container">
            <div class="row">
                <div class="alert alert-info">
                    
                </div>
                <br/>
                <br/>
            </div>
        </div>           
    </div>
</div>
